@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.card {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    margin-top: 40px;
}

.card .images {
    width: 500px;
}

.images .imgShowcase {
    width: 490px;
    height: 430px;
}


.images .imgSmall {
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-right: 10px;
}

.images .imgShowcase,
.images .imgSmall {
    border-radius: 20px;
}

.images .imgSmall {
    cursor: pointer;
}

.card .description {
    width: 450px;
}

.card .description h4 {
    width: 170px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 16px;
    color: hsl(26, 100%, 55%);
}

.card .description h3 {
    width: 450px;
    margin-bottom: 20px;
    font-size: 38px;
}

.card .description .descriptionTennis {
    margin-bottom: 25px;
    font-size: 18px;
}


.card .price .priceCurrent strong {
    font-size: 20px;
    margin-right: 10px;
}

.card .price .priceCurrent span {
    padding: 5px;
    border-radius: 10px;
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
}

.card .price .priceOld {
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons .buttonsPlusMinus {
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 50px;
    align-items: center;
    margin-right: 50px;
    background-color: hsl(220, 14%, 75%);
    border-radius: 10px;
    cursor: pointer;
}

.buttons .buttonAdd {
    width: 220px;
    height: 60px;
    border: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    background-color: hsl(26, 100%, 55%);
}

@media (max-width: 980px) {
    .card .imgs .imgDestaque {
        width: 400px;
        height: 400px;
    }

    .card .imgs .imgPequena {
        width: 90px;
        height: 90px;
    }

    .card .description h4 {
        font-size: 14;
    }

    .card .description h3 {
        width: 350px;
        font-size: 30px;
    }

    .card .description .descriptionTennis {
        font-size: 16px;
    }

    .card .price .priceCurrent strong {
        font-size: 18px;
    }

    .card .price .priceOld {
        font-size: 16px;
    }

    .buttons .buttonAdd {
        width: 200px;
        height: 50px;
        font-size: 14px;
    }
}

@media (max-width: 840px) {
    .card {
        display: block;
    }

    .card .images {
        text-align: center;
    }
    
    .card .images,
    .card .description {
        margin: auto auto;
    }

    .card .description .price {
        display: flex;
        justify-content: space-around;
    }

}

@media (max-width: 540px) {
    .card .images .imgShowcase {
        border: 1px solid red;
        display: flex;
        justify-content: center;
        width: 290px;
        height: 230px;
    }

    .card .images .imgSmall {
        display: none;
    }

    .card .description .buttons {
        display: block;
    }

    .buttons .buttonsPlusMinus,
    .card .buttonAdd {
      width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .card .description {
        width: 350px;
    }

    .card .description .descriptionTennis {
        font-size: 12px;
    }
}